_USER = 'postgres'
_DBNAME = 'postgres'
_SCHEMA = 'jobmatch'
_BIN_PATH = r'C:\Program Files\PostgreSQL\16\bin'
_PSQL = r'\psql.exe'
_PG_DUMP = r'\pg_dump.exe'
_REL_IMPORT_DUMP_PATH = r'\db_data\db_script.sql'
_REL_EXPORT_DUMP_PATH = r'\db_data\db_script.sql'
_REMOTE_HOST = r'db.gboblangoijwxkkvkmsn.supabase.co'